{% load staticfiles %}
<html>
    <head>
        <title>OMT Site</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script rel="stylesheet" href="{% static 'js/app.js' %}"></script>
        <script rel="stylesheet" href="{% static 'js/appRoutes.js' %}"></script>
        <script rel="stylesheet" href="{% static 'js/controllers/MainCtrl.js' %}"></script>
        <!-- include all the static files here -->


    </head>
    <body>
    {% block content %}

    {% endblock %}
    </body>

</html>